@font-face {
  font-family: Graphik;
  src: url("../../../assets/font/GraphikRegular.otf");
}

@font-face {
  font-family: GraphikMedium;
  src: url("../../../assets/font/GraphikMedium.otf");
}

@font-face {
  font-family: GraphikThin;
  src: url("../../../assets/font/GraphikThin.otf");
}

@font-face {
  font-family: GraphikBold;
  src: url("../../../assets/font/GraphikBold.otf");
}

@font-face {
  font-family: GraphikSemibold;
  src: url("../../../assets/font/GraphikSemibold.otf");
}

@font-face {
  font-family: GraphikSuper;
  src: url("../../../assets/font/GraphikSuper.otf");
}

@font-face {
  font-family: GraphikLight;
  src: url("../../../assets/font/GraphikLight.otf");
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Graphik", sans-serif;
  font-size: 16px;
  color: #15051e;
  overflow-x: hidden;
  background: #fdfdfd;
}

body.noscroll {
  overflow: hidden;
}

@media (min-width: 64em) {
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex-jc-sb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .flex-jc-c {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flex-ai-c {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex-50 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

a,
a:visited,
a:hover {
  font-size: 1rem;
  font-family: "GraphikMedium", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #15051e;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .container {
    padding: 0 1.5rem;
  }
}

@media (min-width: 64em) {
  .container {
    padding: 0 5rem;
  }
}

@media (max-width: 63.9375em) {
  section {
    padding: 1.25rem 0;
  }
}

@media (min-width: 64em) {
  section {
    padding: 3rem 0;
  }
}

@media (min-width: 64em) {
  .t-c {
    text-align: center;
  }
}

h1 {
  font-family: "GraphikBold", sans-serif;
  font-size: 1.5rem;
}

@media (max-width: 63.9375em) {
  h1 {
    margin: 0;
  }
}

@media (min-width: 64em) {
  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}

h2 {
  font-family: "GraphikSemibold", sans-serif;
  font-size: 1.25rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-family: "GraphikSemibold", sans-serif;
  font-size: 1rem;
}

@media (min-width: 64em) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-family: "GraphikSemibold", sans-serif;
  font-size: 1rem;
  margin: 0;
}

@media (min-width: 64em) {
  h4 {
    font-size: 1.25rem;
  }
}

p {
  font-family: "GraphikLight", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 600;
}

@media (min-width: 64em) {
  p {
    font-size: 1rem;
    line-height: 2rem;
  }
}

.ul {
  list-style-type: none;
  padding-left: 0;
}

.ul li {
  position: relative;
  padding-left: 2rem;
  line-height: 2rem;
  font-size: 0.875rem;
  font-weight: 600;
  font-family: "GraphikLight", sans-serif;
}

@media (min-width: 64em) {
  .ul li {
    font-size: 1rem;
  }
}

.ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 0.875rem;
  height: 0.875rem;
  background-image: url("../../../assets/images/list-style.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 64em) {
  .ul li::before {
    font-size: 1rem;
  }
}

.m-t {
  margin-top: 2.5rem;
}

@media (min-width: 64em) {
  .m-t {
    margin-top: 4rem;
  }
}

.fadeInUp {
  -webkit-animation: fadeInUp;
          animation: fadeInUp;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.fadeIn {
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header {
  width: 100%;
}

.header nav {
  position: relative;
  z-index: 1;
}

@media (max-width: 63.9375em) {
  .header nav {
    padding: 2.5rem 0;
  }
}

@media (min-width: 64em) {
  .header nav {
    padding: 1rem 0;
  }
}

.header__logo img {
  width: 5.5rem;
  height: 4rem;
}

.header__links a:not(:last-child) {
  margin-right: 2.5rem;
}

.button {
  display: block;
  outline: none;
  border: none;
  background-color: #15051e;
  border-radius: 6px;
  color: #fff;
  padding: 0.1rem 0.75rem;
  text-align: left;
}

@media (min-width: 64em) {
  .button {
    padding: 0.3rem 0.75rem;
  }
}

.button div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button p {
  margin: 0;
  font-size: 0.875rem;
}

@media (min-width: 64em) {
  .button p {
    font-size: 1rem;
  }
}

.button small {
  font-size: 0.5rem;
}

@media (min-width: 64em) {
  .button small {
    font-size: 0.5625rem;
  }
}

.button img {
  width: 1.25rem;
  height: 1.375rem;
  margin-right: 0.5rem;
}

@media (min-width: 64em) {
  .button img {
    width: 1.5625rem;
    height: 1.375rem;
  }
}

@media (min-width: 64em) {
  .intro {
    text-align: center;
    padding: 0 17.5rem;
  }
}

.intro__description {
  color: #002213;
  font-family: "GraphikLight", sans-serif;
  font-weight: 400;
}

@media (min-width: 64em) {
  .intro__description {
    margin: 0 4rem;
    margin-bottom: 1.5rem;
  }
}

.intro__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

@media (min-width: 64em) {
  .intro__button-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.intro__button-container button:first-child {
  margin-right: 1rem;
}

@media (min-width: 64em) {
  .intro__button-container button:first-child {
    margin-right: 1.5rem;
  }
}

@media (min-width: 64em) {
  .intro__image_container div {
    margin-top: -6rem;
    z-index: -1;
  }
}

.intro__image_container div img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 63.9375em) {
  .feature__section {
    padding: 1.25rem 0;
  }
}

@media (min-width: 64em) {
  .feature__section {
    padding: 3rem 0;
  }
}

.feature__section img {
  width: 100%;
}

.feature .feat1 .img__container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 64em) {
  .feature .feat1 .img__container {
    width: 45%;
  }
}

.feature .feat1 .text__container {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 63.9375em) {
  .feature .feat1 .text__container {
    margin-top: 2rem;
  }
}

@media (min-width: 64em) {
  .feature .feat1 .text__container {
    width: 40%;
  }
}

.feature .feat2 .img__container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 64em) {
  .feature .feat2 .img__container {
    width: 47%;
  }
}

.feature .feat2 .text__container {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 63.9375em) {
  .feature .feat2 .text__container {
    margin-top: 2rem;
  }
}

@media (min-width: 64em) {
  .feature .feat2 .text__container {
    width: 45%;
    position: relative;
    padding-left: 7.5rem;
  }
  .feature .feat2 .text__container::before {
    content: "";
    position: absolute;
    left: 0;
    width: 6rem;
    height: 6rem;
    background-image: url("../../../assets/images/send.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (max-width: 63.9375em) {
  .feature .feat2 .text__container h3 {
    position: relative;
    padding-left: 3.2rem;
  }
  .feature .feat2 .text__container h3::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("../../../assets/images/send.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-width: 64em) {
  .feature .feat3 .img__container {
    width: 47%;
  }
}

@media (max-width: 63.9375em) {
  .feature .feat3 .text__container {
    margin-top: 2rem;
  }
}

@media (min-width: 64em) {
  .feature .feat3 .text__container {
    width: 50%;
    padding-right: 4rem;
    padding-left: 3rem;
  }
}

@media (max-width: 63.9375em) {
  .feature .lucrow-image {
    margin-top: -4rem;
  }
}

.accordion {
  position: relative;
  color: #15051e;
  background: transparent;
  cursor: pointer;
  padding-left: 1.5rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Graphik", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 1.5rem;
}

@media (min-width: 64em) {
  .accordion {
    font-size: 1.25rem;
    padding-left: 2.5rem;
  }
}

.accordion::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  background-image: url("../../../assets/images/plus.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 0.875rem;
  height: 0.875rem;
}

@media (min-width: 64em) {
  .accordion::before {
    top: 0;
    width: 1.25rem;
    height: 1.25rem;
  }
}

.active::before {
  top: 10px;
  background-image: url("../../../assets/images/minus.svg") !important;
}

.panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 64em) {
  .panel {
    padding-left: 2.5rem;
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 63.9375em) {
  .footer__image {
    text-align: center;
  }
}

@media (min-width: 64em) {
  .footer__image {
    width: 45%;
  }
}

@media (min-width: 64em) {
  .footer__text {
    width: 55%;
  }
}

.footer__container {
  border-top: 1px solid rgba(194, 194, 194, 0.48);
  padding-top: 1.2rem;
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  margin-bottom: 2rem;
}

.footer ul li {
  margin: 0.8rem 0;
}

.footer .konsult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .bold {
  font-family: "GraphikSemibold", sans-serif;
}

.download {
  position: relative;
  margin-top: 12rem;
  margin-bottom: 4rem;
  background: #741ca4;
  border-radius: 3.125rem;
  padding: 2rem 1.5rem;
}

@media (min-width: 64em) {
  .download {
    padding: 3.75rem 5.625rem;
    margin: 6rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.download h1 {
  color: white;
  font-size: 1.25rem;
  margin: 1rem 0;
}

@media (min-width: 64em) {
  .download h1 {
    font-size: 2.5rem;
  }
}

.download__image {
  position: relative;
  min-height: 10rem;
}

@media (max-width: 63.9375em) {
  .download__image img {
    position: absolute;
    top: -13rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (min-width: 64em) {
  .download__image {
    width: 40%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .download__image img {
    position: absolute;
    width: 100%;
    bottom: -2.25rem;
    height: 100%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.download__button-container {
  margin-top: 2.75rem;
}

@media (max-width: 63.9375em) {
  .download__button-container button {
    margin: 0 auto;
  }
  .download__button-container button:first-child {
    margin-bottom: 1rem;
  }
}

@media (max-width: 63.9375em) and (min-width: 64em) {
  .download__button-container button:first-child {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 64em) {
  .download__button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .download__button-container button:first-child {
    margin-right: 1rem;
  }
}

@media (min-width: 64em) and (min-width: 64em) {
  .download__button-container button:first-child {
    margin-right: 1.5rem;
  }
}

@media (max-width: 63.9375em) {
  .download {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */