.accordion {
  position: relative;
  color: $primary-color;
  background: transparent;
  cursor: pointer;
  padding-left: 1.5rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Avenir", sans-serif;;
  font-size: 0.875rem;
  font-weight: 600;
  transition: 0.4s;
  line-height: 1.5rem;

  @include breakpoint-up(large) {
    font-size: 1.25rem;
    padding-left: 2.5rem;
  }
  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    background-image: url("../../../assets/images/plus.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 0.875rem;
    height: 0.875rem;
    @include breakpoint-up(large) {
      top: 0;
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}
.active::before {
  top: 10px;
  background-image: url("../../../assets/images/minus.svg") !important;
}
.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  @include breakpoint-up(large) {
    padding-left: 2.5rem;
    margin-bottom: 1.25rem;
  }
}
