.download {
  background: rgba(116, 28, 164, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/assets/images/download.svg");
  border-radius: 7px;
  padding: 1.5rem;
  text-align: center;
  @include breakpoint-up(large) {
    padding: 3rem;
  }
  h3 {
    color: white;
  }
  &__button-container {
    margin-top: 2.75rem;
    display: flex;
    justify-content: center;
    .button {
      a {
        color: white;
      }
      &:first-child {
        margin-right: 1rem;
        @include breakpoint-up(large) {
          margin-right: 1.5rem;
        }
      }
    }
  }
  @include breakpoint-down(medium) {
    text-align: center;
  }
}
