.intro {
  &__content {
    width: 100%;
    margin-bottom: 3rem;
    @include breakpoint-up(large) {
      width: 40%;
    }
    &__description {
      color: $dark-grey;
      font-family: "Avenir", sans-serif;
      font-weight: 400;
      @include breakpoint-up(large) {
        margin-bottom: 1.5rem;
      }
    }
  }
  &__button {
    &-container {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      button {
        &:first-child {
          margin-right: 1rem;
          @include breakpoint-up(large) {
            margin-right: 1.5rem;
          }
        }
      }
    }
  }
  &__image_container {
    width: 100%;
    position: relative;
    @include breakpoint-up(large) {
      padding: 2rem;
      width: 40%;
    }
    div {
      background-image: url("/assets/images/intro-bg.svg");
      background-repeat: no-repeat;
      background-size: contain;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
