$Graphik: "Graphik", sans-serif;
$GraphikMedium: "GraphikMedium", sans-serif;
$GraphikThin: "GraphikThin", sans-serif;
$GraphikLight: "GraphikLight", sans-serif;
$GraphikBold: "GraphikBold", sans-serif;
$GraphikSemibold: "GraphikSemibold", sans-serif;
$GraphikSuper: "GraphikSuper", sans-serif;

$primary-color: #15051e;
$dark-grey: #002213;
$purple: #741ca4;
$background: #fdfdfd;
$white: #fff;
$font-regular: 1rem;

$padding-mobile: 0 1.5rem;
$padding-web: 0 5rem;

$image-padding: 4rem;
